html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#render-canvas {
    width: 100%;
    height: 100%;
    margin: 0px;
    touch-action: none;
}

#chunck-editor {
    position: fixed;
    top: 10px;
    left: 10px;
}

.chunck-editor-button {
    display: block;
}